<nav class="navbar container">
  <div class="navbar__brand">
    <a href="index.html" class="navbar__logo">SE Cinema Booking</a>
  </div>
  <ul class="navbar__links">
    <li><a href="/client/index.html" class="navbar__link">Home</a></li>
    <li><a href="#" class="navbar__link">Movies</a></li>
    <li><a href="#" class="navbar__link">Bookings</a></li>
    <li><a href="/client/pages/login.html" class="navbar__link">Login</a></li>
    <li><a href="/client/pages/register.html" class="navbar__link">Register</a></li>
  </ul>
</nav>