:root {
/* Primary */
    --color-blue-dark: #3674B5;      
    --color-blue-light: #578FCA;      
   
/* secondary */
    --color-cream: #F5F0CD;            
    --color-yellow: #FADA7A;           
  
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    
    --font-base: sans-serif;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  color: #222;
  background: #f7f8fa;
}
